# Build-related files
node_modules
/dist

# File found in live web hosting environments
/stats

# .env files (Vue.js environment variable mechanism)
.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac OS X desktop meta-info files
.DS_Store
